.carta {
  display: block;
  width: 200px;
  text-decoration: none;
  margin: 10px;
  width: 18rem;
}

.foto {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

.boton {
  position: relative;
  left: 50px;
}
